a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.flex_center {
    display: flex;
    justify-content: center;
}

.header {
    flex-wrap: wrap;
    gap: 859px;
    background-color: #222222
}

.header__logo__search {
    margin-top: 18px;
    margin-bottom: 20px;
    display: flex;
    gap: 41px;
}

.search_icon {
    margin-top: 10px;
}

.header__menu {
    margin-top: 26px;
    margin-bottom: 20px;
    display: flex;
    gap: 33px;
}

.button_menu {
    background-color: #222222;
    border: 0;
}

.title_content {
    background-color: #F1E4E6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 64px;
}

.title__text {
    margin-bottom: 381px;
    display: flex;
    gap: 16px;
}

.title_1 {
    width: 377px;
    font-size: 48px;
    font-weight: 900;
}

.title_2 {
    width: 377px;
    font-size: 32px;
    font-weight: 700;
}

.colortext {
    color: #F16D7F;
}

.categories {
    padding-top: 65px;
    padding-bottom: 96px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
}

.category {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

.up_text {
    position: absolute;
    top: 105px;
    bottom: 105px;
    left: calc((100% - 154px) / 2);
}

.category_big {
    position: relative;
    width: 100%;
    /* for IE 6 */
    width: 1140px;
    height: 180px;
}

.categ_img_big {
    object-fit: cover;
}

.up_text_big {
    position: absolute;
    top: 65px;
    bottom: 65px;
    left: calc((100% - 154px) / 2);
}

.title_5 {
    width: 160px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.title_6 {
    width: 160px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.title_3 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.title_4 {
    color: #9F9F9F;
    font-size: 14px;
    margin-top: 6px;
    font-weight: 400;
    margin-bottom: 48px;
    text-align: center;
}

.products {
    position: relative;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
}

.product {
    background-color: #F8F8F8;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 24px;
    gap: 16px;
}

.up_product {
    display: none;
    position: absolute;
    width: 360px;
    top: 0px;
    left: 0px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: rgba(58, 56, 56, 0.86);
}

.product:hover .up_product {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.button_up {
    width: 139px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    color: #FFF;
    font-family: Lato;
    font-size: 14px;
    background-color: rgba(58, 56, 56, 0);
    font-weight: 400;
    border: 1px;
    border-style: solid;
    border-color: #FFF;
}

.product_name {
    font-size: 13px;
    font-weight: 400;
}

.product_text {
    width: 318px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
}

.price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.button {
    margin-top: 48px;
    margin-bottom: 60px;
    padding: 15px 39px 14px 39px;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    border-style: solid;
    border-color: #FF6A6A;
    background-color: #FFF;
}

.button:hover {
    color: #FFF;
    background-color: #FF6A6A;
}

.offers {
    padding-top: 103px;
    padding-bottom: 104px;
    background-color: #222224;
    display: flex;
    gap: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.offer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.offer {
    width: 360px;
}

.offer_name {
    margin-top: 19px;
    margin-bottom: 16px;
    color: #FBFBFB;
    font-size: 20px;
    font-weight: 400;
}

.offer_text {
    color: #FBFBFB;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}

.mb_9px {
    margin-bottom: 9px;
}

.mb_4px {
    margin-bottom: 4px;
}

.back {
    width: 100%;
    height: 448px;
    position: relative;
}

.white_footer {
    width: 100%;
    height: 448px;
    position: relative;
}

.white_footer_content {
    position: absolute;
    width: 100%;
    height: 448px;
    top: 0px;
    left: 0px;
    display: flex;
    gap: 223px;
    justify-content: center;
    flex-wrap: nowrap;
}

.left_content {
    margin-top: 97px;
    width: 360px;
    height: 225px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.women_smile {
    margin-right: 20px;
}

.text_after_smile {
    width: 360px;
    margin-top: 30px;
    margin-bottom: 60px;
    height: 99px;
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.italic {
    color: #222224;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

.right_content {
    margin-bottom: 156px;
    margin-top: 150px;
    width: 557px;
    height: 142px;
    color: #222224;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.right_content_subscribe {
    font-size: 24px;
    line-height: 167.2%;
    font-weight: 700;
}

.right_content_text {
    font-size: 18px;
    line-height: 167.2%;
    font-weight: 400;
    margin-bottom: 32px;
}

.container_subscribe {
    width: 356px;
    height: 49px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.register {
    width: 100px;
    height: 49px;
    background-color: #F16D7F;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    border: 0px;
    border-radius: 0px 50px 50px 0px;
}

.email_input {
    padding-left: 22px;
    width: 256px;
    height: 49px;
    background-color: #E1E1E1;
    border: 0px;
    border-radius: 50px 0px 0px 50px;
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
}

.down_footer {
    padding-top: 24px;
    padding-bottom: 23px;
    background-color: #222224;
    display: flex;
    gap: 650px;
    justify-content: center;
}

.brand {
    width: 332px;
    padding-top: 6px;
    padding-bottom: 7px;
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
}

.social_media {
    display: flex;
    gap: 7px;
}

.social_media_button {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 31px;
    height: 32px;
    border: 0px;
}

.social_media_button:hover {
    background-color: #F16D7F;
}

.social_media_button:hover .social_media_logo {
    fill: #FFFFFF;
}

@media (max-width: 1024px) {

    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .header {
        display: flex;
        gap: 424px;
    }

    .header__menu {
        margin-top: 18px;
        margin-bottom: 18px;
        padding-top: 8px;
    }

    .header__logo__search {
        margin-top: 18px;
        margin-bottom: 18px;
    }

    .homepage {
        width: 386px;
        height: 368px;
    }

    .title_content {
        height: 368px;
        display: flex;
        align-items: flex-start;
        gap: 39px
    }

    .title__text {
        margin-top: 137px;
        display: flex;
        gap: 16px;

    }

    .title_1 {
        width: 283px;
        font-size: 44px;
    }

    .title_2 {
        width: 283px;
        font-size: 24px;
    }

    .categories {
        padding-bottom: 110px;
        display: grid;
        gap: 19px;
        grid-template-columns: repeat(3, 232px);
        justify-content: center;
    }

    .category {
        width: 232px;
        height: 168px;
    }

    .category_big {
        width: 735px;
        height: 116px;
    }

    .title_4 {
        color: #9F9F9F;
        font-size: 14px;
        margin-top: 3px;
        margin-bottom: 73px;
    }

    .products {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(2, 360px);
    }

    .categ_img {
        width: 232px;
        height: 168px;
    }

    .up_text {
        position: absolute;
        top: 60px;
        bottom: 60px;
    }

    .categ_img_big {
        width: 735px;
        height: 116px;
    }

    .up_text_big {
        position: absolute;
        top: 33px;
        bottom: 33px;
    }

    .product_content {
        width: 360px;
        height: 581px;
    }

    .content {
        padding-bottom: 20px;
        gap: 16px;
    }


    .product__img {
        width: 360px;
        height: 420px;
    }

    .button {
        margin-top: 33px;
        margin-bottom: 71px;
    }

    .offers {
        padding-top: 48px;
        padding-bottom: 64px;
        flex-direction: column;
        gap: 48px;
    }

    .white_footer {
        height: 614px;
    }

    .back {
        height: 614px;
    }

    .white_footer_content {
        height: 614px;
        gap: 48px;
        flex-wrap: wrap;
    }

    .left_content {
        margin-top: 64px;
    }

    .right_content {
        margin-top: 0px;
        margin-bottom: 140px;
        width: 557px;
        height: 137px;
    }

    .right_content_text {
        margin-bottom: 27px;
    }

    .down_footer {
        gap: 305px;
    }

    .brand {
        width: 251px;
    }
}

@media (max-width: 767px) {

    .center {
        padding-left: calc(50% - 160px);
        padding-right: calc(50% - 160px);
    }

    .header {
        display: flex;
        gap: calc(100% - 175px);
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .header__logo__search {
        margin-bottom: 18px;
    }

    .header__menu {
        margin-top: 18px;
        margin-bottom: 18px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .no_mobile {
        display: none
    }

    .title_content {
        display: flex;
        justify-content: center;
    }

    .title__text {
        margin-top: 148px;
        margin-bottom: 149px;
        display: flex;
        gap: 15px;
    }

    .title_1 {
        width: 100%;
    }

    .title_2 {
        width: 100%;
    }

    .categories {
        padding-top: 64px;
        padding-bottom: 64px;
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(1, calc(100% - 16px));
        justify-content: center;
    }

    .category {
        width: 100%;
        height: 248px;
    }

    .categ_img {
        width: 100%;
        height: 248px;
    }

    .category_big {
        width: 100%;
        height: 111px;
    }

    .categ_img_big {
        width: 100%;
        height: 111px;
    }

    .up_text {
        top: 98px;
        bottom: 99px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .up_text_big {
        top: 30px;
        bottom: 31px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title_3 {
        font-size: 30px;
    }

    .title_4 {
        margin-top: 3px;
        margin-bottom: 64px;
    }

    .products {
        display: grid;
        gap: 16px;
        grid-template-columns: repeat(1, calc(100% - 16px));
        justify-content: center;
    }

    .product__img {
        width: 100%;
    }

    .product_content {
        width: 100%;
        height: 579px;
    }

    .content {
        padding-bottom: 20px;
        gap: 16px;
    }

    .up_product {
        width: 100%;
    }

    .product__img {
        width: 100%;
        height: 419px;
    }

    .product_text {
        width: calc(100% - 16px);
    }

    .content {
        padding-bottom: 20px;
        gap: 13px;
    }

    .white_footer_content {
        width: 100%;
    }

    .left_content {
        width: 100%;
    }

    .text_after_smile {
        width: calc(100% - 32px);
        font-size: 18px;
    }

    .italic {
        color: #222224;
        font-size: 18px;
    }

    .right_content {
        width: 100%;
    }

    .right_content_subscribe {
        line-height: 153.2%;
    }

    .right_content_text {
        font-size: 14px;
        line-height: 167.2%;
        margin-bottom: 22px;
    }

    .right_content_form {
        width: calc(100% - 16px);
    }

    .container_subscribe {
        width: 100%;
        height: 47px;
    }

    .email_input {
        padding-left: 21px;
        width: 205px;
    }

    .register {
        width: 89px;
    }

    .button {
        margin-top: 40px;
        margin-bottom: 85px;
    }

    .offer {
        width: 100%;
    }

    .down_footer {
        padding-top: 43px;
        padding-bottom: 9px;
        display: flex;
        gap: 40px;
        flex-direction: column-reverse;
        align-items: center;
    }
}